/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.facebook-container{
    width: 80%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
}
.facebook-container .fb-item1 :first-child{
    flex-basis: 60% ;
} 

.facebook-container .fb-item :last-child{
    flex-basis: 40% ;
} 


.facebook-container .fb-item1 img{
    width: 300px;
    background-color: ;
}
.facebook-container .fb-item1 h2{
    font-weight: 400;
    font-size: 30px;
    margin: 0;
}
.facebook-container .fb-item1 h1{
    color: #0866ff;
    font-size: 70px;
    margin-bottom: 6px;
}
.facebook-container .fb-item .user-info{
    box-shadow: 0 2px  4px rgba(0, 0, 0, .1),0 8px 16px rgba(0, 0, 0, .1);
    padding: 25px;
    border-radius: 12px;
}
.facebook-container .fb-item .user-info from{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.facebook-container .fb-item .user-info from .milon{
    padding: 16px 13px;
    border: 2px solid #dddfe2;
    border-radius: 8px;
}
::placeholder{
    color: #333;
    font-size: 20px;
}.facebook-container .fb-item .user-info from .submit{
    background-color: #0866ff;
    color: #fff;
    padding: 14px 25px ;
    font-size: 20px;
    border: 0;
    cursor: pointer;
    border-radius: 10px;
}
.facebook-container .fb-item .user-info .updated{
    margin-top: 25px;
    text-align: center;
} 
.facebook-container .fb-item .user-info .updated a{
    /* margin: 20px 0 ; */
    display: inline-block;
    text-decoration: none;
    /* text-align: center; */
    color: #0866ff;
}
.facebook-container .fb-item .user-info .updated a:hover{
    text-decoration: underline;
}
.facebook-container .fb-item .user-info .updated .btn {
    background-color: #36a420;
    padding: 12px 20px ;
    border: 0;
    color: #fff;
    cursor:pointer;
    border-radius: 8px;
    font-size :20px;

}
.facebook-container .fb-item .user-info .updated hr{
    margin: 25px 0;
    height: 1.5px;
    background-color: #ccc;
    border: none;
}
.facebook-container .fb-item.bottom-article {
    margin: 10px 0;
    text-align: center;

}
.facebook-container .fb-item.bottom-article span {

    font-weight:700;
}
.facebook-container .fb-item .user-info .bottom-article {
    margin: 23px 0;
}
.facebook-container .fb-item .user-info .bottom-article p a{
 font-weight: bold;

 &:hover {
    text-decoration: underline;
 }
}
